
.T-img{
    margin: 5px;
    width: 100px;
    overflow: hidden;
    float: left;

}
.T-img>a{
    display: block;
    padding-top: 10px;
}
.T-p{
    width: 100%;
    color: #ffffff;
    background-color: #03142e;
    text-align: center;
}
.T-p p{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}